

ion-toggle {
    --background: #ff9aa8;
    --background-checked: #eb445a;
    --handle-background: #eb445a;
    --handle-background-checked: #ff9aa8;
  }



.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}

.my-custom-class {
    --background: #e5e5e5;
  }

  /* DOES NOT WORK - not specific enough */
.alert-wrapper {
    background: #e5e5e5;
  }
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
  .my-custom-class .alert-wrapper {
    background: #e5e5e5;
  }

ion-row {
	border: solid 1px black;
}

ion-col {
	border: solid 1px black;
	background: yellow;
}

$coluna: 90%;
$fonte: 1.221rem;
$margem: 0.176rem;
.tabela {
        width: 90%;
        margin-top: $margem;
        margin-left: $margem;
        display: table;
        border: 1px solid black;
}
.header {
        font-weight: bold;
}
.row {
        display: table-row;
}
.col {
        background-color:#42ec6a;
        font-size: $fonte;
        border: solid 1px black;
        border-bottom-style: none;
        border-right-style: none;
        padding-left: $margem;
        padding-top: $margem;
        padding-bottom: $margem;
        display: table-cell;
}
.pri { float: none; }
.col:last-child { border-right: solid 1px black; }
.row.last-child .col { border-right: solid 1px black; }

.topo {
	margin-right: 15px;
	float: left;
}

